# Auto detect text files and perform LF normalization
* text=auto
*.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Maps/MAIN_LEVEL_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Maps/MAIN_LEVEL_2_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
