Binaries
DerivedDataCache
Intermediate
Saved
Stats
/Flags
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/MAIN_LEVEL_2_BuiltData.uasset
Build/Windows/FileOpenOrder
Content/Maps/Study_Level.umap